openapi: 3.0.0
info:
  title: Identity API
  description: Get identity information about people at OSU
  version: v2
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/identity-api
servers:
  - url: https://api.oregonstate.edu/v2
security:
  - OAuth2:
      - full
paths:
  /identities:
    get:
      summary: Get identity information
      tags:
        - identities
      description: Get identity information. At least include one of the following query parameters.
      operationId: getIdentities
      parameters:
        - name: filter[firstName]
          in: query
          description: First name of a person. Must be used with `filter[lastName]` together.
          required: false
          schema:
            type: string
          example: Harry
        - name: filter[lastName]
          in: query
          description: Last name of a person. Must be used with `filter[firstName]` together.
          required: false
          schema:
            type: string
          example: Potter
        - name: filter[username]
          in: query
          description: ONID user ID
          required: false
          schema:
            type: string
          example: potterharry2000
        - name: filter[osuUid]
          in: query
          description: OSU UID of a person
          required: false
          schema:
            type: string
          example: '1234567890'
        - name: filter[proxId]
          in: query
          description: >-
            ID Center ID Card Prox ID. The first part before `-` is the facility code and the second
            part after `-` is the card number
          required: false
          schema:
            type: string
            pattern: '^\d{3}-\d{5}$|^\d{4}-\d{7}$'
          example: '1234-1234567'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentitySetResult'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  /identities/{osuId}:
    get:
      summary: Get identity information by OSU ID
      tags:
        - identities
      description: Get identity information by OSU ID
      operationId: getIdentityById
      parameters:
        - $ref: '#/components/parameters/osuId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityResult'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.oregonstate.edu/oauth2/token
          scopes:
            full: Full access to the API
  parameters:
    osuId:
      name: osuId
      in: path
      description: 9-digit OSU ID
      required: true
      schema:
        type: string
        pattern: '^\d{9}$'
  responses:
    '400':
      description: Bad request
      content: &errorContent
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResult'
    '404':
      description: Resource not found
      content: *errorContent
    '500':
      description: Internal server error
      content: *errorContent
  schemas:
    SelfLink:
      type: object
      properties:
        self:
          type: string
          format: uri
          description: Self-link of current resource
    ErrorObject:
      type: object
      properties:
        status:
          type: string
          description: HTTP status code
          example: '123'
        title:
          type: string
          description: A short, user readable summary of the error
          example: Not Found
        code:
          type: string
          description: An application-specific error code
          example: '1234'
        detail:
          type: string
          description: A long description of the error that may contain instance-specific details
        links:
          type: object
          properties:
            about:
              type: string
              format: uri
              description: A link to further information about the error
              example: https://developer.oregonstate.edu/documentation/error-reference#1234
    ErrorResult:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorObject'
    IdentityId:
      type: string
      description: Unique ID of identity resource
    IdentityType:
      type: string
      enum:
        - identity
    IdentityAttributes:
      type: object
      properties:
        firstName:
          type: string
          description: First name of a person
          nullable: false
        middleName:
          type: string
          description: Middle name of a person
          nullable: true
        lastName:
          type: string
          description: Last name of a person
          nullable: false
        osuId:
          type: string
          description: 9-digit OSU ID
          nullable: false
        username:
          type: string
          description: ONID user ID
          nullable: true
        osuUid:
          type: string
          description: OSU UID of a person. Public identifier given in Directory API
          nullable: true
        proxId:
          type: string
          description: ID Center ID Card Prox ID
          nullable: true
      additionalProperties: false
    IdentityGetResource:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/IdentityType'
        id:
          $ref: '#/components/schemas/IdentityId'
        attributes:
          $ref: '#/components/schemas/IdentityAttributes'
        links:
          $ref: '#/components/schemas/SelfLink'
      additionalProperties: false
    IdentityResult:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/SelfLink'
        data:
          $ref: '#/components/schemas/IdentityGetResource'
    IdentitySetResult:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/SelfLink'
        data:
          type: array
          items:
            $ref: '#/components/schemas/IdentityGetResource'
